/* Applies a style to all elements that do not have targeted declaration */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Applies background color to the body */
body {
    background-color: #d9dcd6;
}

/* Applies text color and removes any decorative lines to anchor elements*/
a {
    color: #ffffff;
    text-decoration: none;
}

/* Applies font size to all paragraphs */
p {
    font-size: 16px;
}

/* Applies font, background, text and padding to header element */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Applies font size and display property to header h1 */
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/* Applies color to span within header h1 */
.header h1 .seo {
    color: #d9dcd6;
}

/* Applies styling to the header nav elements */
.header nav {
    padding-top: 13px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Removes bullet points from header nav ul list */
.header nav ul {
    list-style-type:none;
}

/* Applies styling to nav li to ensure they are inline */
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
    padding: 10px;
}

/* Applies styling to figure img element preventing the image spanning the whole viewport*/
.hero {
    height: 900px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}

/* Applies styling to the main element */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Applies styling to the sections with the main element, ensuring each has a set rectangle layout */
.content section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Applies a max hight to all images with the main element */
.content img {
    max-height: 200px;
}

/* Applies styling to all h1 elements within the main element */
.content h1 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Applies left float to all image elements with the assigned class, this currently only applies to
some images within the main element */
.float-left {
    float: left;
    margin-right: 25px;
}

/* Applies right float to all image elements with the assigned class, this currently only applies to
some images within the main element */
.float-right {
    float: right;
    margin-left: 25px;
}

/* Applies styling to the aside element */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Applies styling to all sections within the aside element */
.benefits section {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Applies styling to all h1 within the aside element */
.benefits h1 {
    margin-bottom: 10px;
    text-align: center;
}

/* Applies styling to all images within the aside element */
.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Applies styling to the footer element */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* Applies styling to all h1 elements within the footer element */
.footer h1 {
    font-size: 20px;
}
